{{"\t"}}{{.ClusterName}} = {
{{"\t"}}    region                    = "{{.Region}}"
{{"\t"}}    subnet_name               = "{{.SubnetName}}"
{{"\t"}}	initial_node_count        = "{{.NodeCount}}"
{{"\t"}}	linux_machine_type        = "{{.MachineType}}"  
{{"\t"}}	windows_machine_type      = "{{.MachineType}}"  
{{"\t"}}	#Zone                     = "{{.Zone}}"  
{{"\t"}}}
