{{"\t"}}{{.ClusterName}} = {
{{"\t"}}    region                    = "{{.Region}}"
{{"\t"}}    subnet_name               = "{{.SubnetName}}"
{{"\t"}}	#Zone                      = "{{.Zone}}"
{{"\t"}}	#NodeCount                 = "{{.NodeCount}}"
{{"\t"}}	#MachineType               = "{{.MachineType}}"    
{{"\t"}}}
