## Base Config
region                            = "{{.Region}}"
project_id                        = "{{.ClustersProjectId}}"
governance_project_id             = "{{.GovernanceProjectId}}"
config_sync                       = "{{.ConfigSync}}"
policy_controller                 = "{{.PolicyController}}"
private_endpoint                  = "{{.PrivateEndpoint}}"
release_channel                   = "{{.ReleaseChannel}}"
initial_node_count                = "{{.InitialNodeCount}}"
min_node_count                    = "{{.MinNodeCount}}"
max_node_count                    = "{{.MaxNodeCount}}"
windows_nodepool                  = "{{.EnableWindowsNodepool}}"
preemptible_nodes                 = "{{.EnablePreemptibleNodepool}}"
multi_cluster_gateway             = "{{.MultiClusterGateway}}"
anthos_service_mesh               = "{{.AnthosServiceMesh}}"
tf_module_repo                    = "{{.TFModuleRepo}}"
tf_module_branch                  = "{{.TFModuleBranch}}"

## VPC Config
shared_vpc                        = "{{.VpcType}}"
vpc_name                          = "{{.VpcName}}"
vpc_project_id                    = "{{.VpcProjectId}}"
vpc_ip_range_pods_name            = "{{.PodCidrName}}"
vpc_ip_range_services_name        = "{{.SvcCidrName}}"
auth_cidr                         = "{{.AuthCIDR}}"

## Clusters Config
cluster_config                    = {
