## Base Config
regional_clusters                 = "{{.RegionalClusters}}"
region                            = "{{.Region}}"
project_id                        = "{{.ClustersProjectId}}"
policy_controller                 = "{{.PolicyController}}"
private_endpoint                  = "{{.PrivateEndpoint}}"
release_channel                   = "{{.ReleaseChannel}}"
initial_node_count                = "{{.InitialNodeCount}}"
min_node_count                    = "{{.MinNodeCount}}"
max_node_count                    = "{{.MaxNodeCount}}"
tf_module_repo                    = "{{.TFModuleRepo}}"
tf_module_branch                  = "{{.TFModuleBranch}}"

## VPC Config
shared_vpc                        = "{{.VpcType}}"
vpc_name                          = "{{.VpcName}}"
vpc_project_id                    = "{{.VpcProjectId}}"
vpc_ip_range_pods_name            = "{{.PodCidrName}}"
vpc_ip_range_services_name        = "{{.SvcCidrName}}"

## Clusters Config
cluster_config                    = {
