# OSX leaves these everywhere on SMB shares
._*

# OSX trash
.DS_Store

# Emacs save files
*~
\#*\#
.\#*

# Vim-related files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# ignore local CLI binary
cli/gkekitctl

### https://raw.github.com/github/gitignore/90f149de451a5433aebd94d02d11b0e28843a1af/Terraform.gitignore

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# kubectl config
scripts/kubeconfig

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

terraform.tfvars
backend.tf
# gcloud service account credentials
credentials.json
creds/
# postgres db name
.instance

# terraform locks
.terraform.lock.hcl

# local bash command file
_local.sh

# Ignore cluster_config vars file
cluster_config
github.key

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# cli binary
gkekitctl

# Vscode dot files
.vscode/

# Cred folder for rbac demo
creds/

# Dependency directories (remove the comment below to include it)
# vendor/

# ssh 
*id_rsa*

# Cloud Source Repos
*gke-poc-config-sync*

# Ignore GKE Toolkit init files 
cli/cluster_build/*
cli/samples/*
cli/shared_vpc/*
cli/templates/*

# Ignore yaml files in root of cli
cli/*.yaml
