## Base Config
region                            = "{{.Region}}"
project_id                        = "{{.ClustersProjectId}}"
governance_project_id             = "{{.GovernanceProjectId}}"
config_sync                       = "{{.ConfigSync}}"
policy_controller                 = "{{.PolicyController}}"
private_endpoint                  = "{{.PrivateEndpoint}}"
auth_cidr                          = "{{.AuthCIDR}}"
windows_nodepool                  = "{{.EnableWindowsNodepool}}"
preemptible_nodes                 = "{{.EnablePreemptibleNodepool}}"

## VPC Config
shared_vpc                        = "{{.VpcType}}"
shared_vpc_name                   = "{{.VpcName}}"
shared_vpc_project_id             = "{{.VpcProjectId}}"
shared_vpc_ip_range_pods_name     = "{{.PodCidrName}}"
shared_vpc_ip_range_services_name = "{{.SvcCidrName}}"

## Clusters Config
cluster_config                    = {
