project_id                        = "{{.ClustersProjectName}}"
governance_project_id             = "{{.GovernanceProjectName}}"
region                            = "{{.Region}}"
private_endpoint                  = "{{.ClusterType}}"
auth_ip                           = "{{.AuthIP}}"
windows_nodepool                  = "{{.EnableWindowsNodepool}}"
preemptible_nodes                 = "{{.EnablePreemptibleNodepool}}"
shared_vpc                        = "{{.VpcType}}"
shared_vpc_name                   = "{{.VpcName}}"
shared_vpc_project_id             = "{{.VpcProjectId}}"
shared_vpc_ip_range_pods_name     = "{{.PodCidrName}}"
shared_vpc_ip_range_services_name = "{{.SvcCidrName}}"
cluster_config					  = {
    cluster-01 = {
        region           = "{{.Region}}"
        subnet_name      = "{{.SubnetName}}"
    }
}