project_id                        = "{{.ClustersProjectName}}"
governance_project_id             = "{{.GovernanceProjectName}}"
region                            = "{{.Region}}"
private_endpoint                  = "{{.ClusterType}}"
cluster_name                      = "{{.ClusterType}}-endpoint-cluster"
vpc_name                          = "{{.ClusterType}}-cluster-network"
subnet_name                       = "{{.ClusterType}}-cluster-subnet"
node_pool                         = "{{.ClusterType}}-node-pool"
zone                              = "{{.Zone}}"
auth_ip                           = "{{.AuthIP}}"