name: publish

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.22.0'
      - name: Make all
        run: cd cli && make all
      - name: Release Darwin
        uses: softprops/action-gh-release@v1
        with:
          files: ./cli/bin/gkekitctl-darwin
      - name: Release Linux
        uses: softprops/action-gh-release@v1
        with:
          files: ./cli/bin/gkekitctl-amd64
